# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# TensorFlow / model artifacts
saved_models/
plots/
*.h5
*.keras

# Logs
*.log

# Environment variables
.env
.env.*

# IDE/editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
